.footer {
    padding: 5vh 3vw;
    width: 100vw;
    box-sizing: border-box;
    background: var(--black-color);
    color: var(--white-color);
    border-top: 2px solid var(--dark-grey);
    display: flex;
    gap: 3vw;
    position: relative;
    z-index: 3;
}

.footer img {
    height: 96px;
    width: fit-content;
}

.hero-images {
    width: fit-content;
    height: 144px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer-info p {
    font-size: var(--button-font-size);
    color: #555555;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-top: 2vh;
}

.footer a {
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    width: max-content;
}

.footer a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--dark-grey);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease;
    transform-origin: right;
}

.footer a:hover::before {
    transform: scaleX(1);
    transition: transform 0.2s ease;
    transform-origin: left;
}

.footer .email {
    font-size: var(--text-font-size);
}

.footer h1 {
    transform: translateY(var(--massive-font-size));
    transition: transform 1s ease;
}

.footer img {
    transform: translateX(-500%);
    transition: transform 2s cubic-bezier(0,.62,.42,1);
}

.footer .line {
    overflow: hidden;
}

.footer .word {
    transform:translateY(var(--button-font-size));
    transition:transform 0.5s ease;
}

.footer a {
    opacity:0;
    transform: translateY(3vh);
    transition:transform 0.5s ease, opacity 0.3s ease-in-out;
}