.about h2 {
    transform:translateY(var(--heading-font-size));
    transition: transform 1s ease;
}

.about img {
    transform:translateX(-100%);
    transition: transform 1s ease;
}

.about .line, .service .line, .loading-screen .line {
    overflow: hidden;
}

.about .word, .service .word {
    transform:translateY(var(--text-font-size));
    transition:transform 0.5s ease;
}

.services h1 {
    transform: translateY(var(--massive-font-size));
    transition: transform 1s ease;
}

.service h2 {
    transform:translateY(var(--heading-font-size));
    transition: transform 1s ease;
}

.service a {
    opacity:0;
    transform:translateY(3vh);
    transition: transform 0.5s ease, opacity 0.3s ease-in-out, background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

.dark-service img {
    opacity:0;
    transform:translateY(3vh);
    transition: transform 0.5s ease, opacity 0.3s ease-in-out;
}