#earth-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.about {
    padding: 20vh 3vw;
    background: var(--red-color);
    display: flex;
    gap: 5vw;
    width: 100vw;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.about-image {
    overflow:hidden;
    width:fit-content;
}

.about img {
    width: fit-content;
    height: 3vh;
    margin-top: 1vh;
}

.services h1 {
    color: var(--red-color);
}

.services {
    padding-top: 30vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.services>* {
    padding-left: 3vw;
    padding-right: 3vw;
}

.service {
    padding: 20vh 3vw;
}

.service .info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.service img {
    width: 60%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
}

.service-btn {
    color: var(--black-color);
    border: 2px solid var(--light-grey);
    display: inline-block;
    padding: 2vh 3vw;
    width: max-content;
    border-radius: 8px;
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

.service-btn:hover {
    background: var(--red-color);
    border-color: var(--red-color);
    color: var(--black-color);
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

.dark-service {
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    gap: 5vw;
    align-items: center;
}

.dark-service .service-btn {
    color: var(--white-color);
    border-color: var(--dark-grey);
}

.dark-service .service-btn:hover {
    background: var(--red-color);
    border-color: var(--red-color);
    color: var(--black-color);
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}