* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
    --white-color: #fff;
    --black-color: #111;
    --red-color: #ED1C2E;
    --light-grey: #ccc;
    --dark-grey: #333;
    --transparent-black: rgba(17, 17, 17, 0.1);
    --massive-font-size: 144px;
    --heading-font-size: 72px;
    --text-font-size: 36px;
    --button-font-size: 24px;
    --button-font-size-small: 18px;

}

body {
    background: var(--white-color);
    color: var(--black-color);
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Almarai', sans-serif;
    font-weight: 300;
    font-size: var(--text-font-size);
}

a,
h3 {
    text-decoration: none;
    font-size: var(--button-font-size);
}

h1 {
    font-size: var(--massive-font-size);
    text-transform: uppercase;
    line-height: 1;
}

h2 {
    font-size: var(--heading-font-size);
    text-transform: uppercase;
    line-height: 1;
}

.line-h1,
.line-h2,
.line-h3 {
    overflow: hidden;
    display: flex;
    gap: 3vw;
    width: max-content;
}

.line-h1 {
    height: var(--massive-font-size);
}

.line-h2 {
    height: var(--heading-font-size);
}

.hero {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    position: relative;
}

#earth-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.hero .line-h1 {
    position: relative;
    z-index: 1;
}

.hero img {
    height: 96px;
    width: fit-content;
}

.hero-images {
    width: fit-content;
    height: 144px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.about {
    padding: 20vh 3vw;
    background: var(--red-color);
    display: flex;
    gap: 5vw;
    width: 100vw;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.about-image {
    overflow:hidden;
    width:fit-content;
}

.about img {
    width: fit-content;
    height: 3vh;
    margin-top: 1vh;
}

.services h1 {
    color: var(--red-color);
}

.services {
    padding-top: 30vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}

.services>* {
    padding-left: 3vw;
    padding-right: 3vw;
}

.service {
    padding: 20vh 3vw;
}

.service .info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.service img {
    width: 60%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
}

.service-btn {
    color: var(--black-color);
    border: 2px solid var(--light-grey);
    display: inline-block;
    padding: 2vh 3vw;
    width: max-content;
    border-radius: 8px;
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

.service-btn:hover {
    background: var(--red-color);
    border-color: var(--red-color);
    color: var(--black-color);
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

.dark-service {
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    gap: 5vw;
    align-items: center;
}

.dark-service .service-btn {
    color: var(--white-color);
    border-color: var(--dark-grey);
}

.dark-service .service-btn:hover {
    background: var(--red-color);
    border-color: var(--red-color);
    color: var(--black-color);
    transition: background 0.2s ease, border-color 0.2s ease-in, color 0.2s ease-in-out;
}

img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
}